.container {
    padding: 4rem;
    width: 40rem;
    margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

.list {
  padding: 1rem;
  width: 100%;
  height: 10rem;
  border: 0.1rem solid grey;
  overflow: auto;
}

.add-members-container input {
  border: none;
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.418);
  margin-right: 0.5rem;
  width: 100%;
  display: flex;
}

.add-members-container button {
  width: 100%;
  border: none;
  color: white;
  font-weight: 400;
  cursor: pointer;
  background-color: rgb(0, 53, 139);
  margin-top: 0.5rem;
}

.input-container {
  margin: 2rem 0;
  display: flex;
  height: 2rem;
}

.input-container button {
  width: 50%;
  background-color: darkcyan;
  border: none;
  color: white;
}

.input-container input {
  width: 50%;
}

.card {
  padding: 2rem;
  width: 100%;
}

.error-msg {
  color: red;
}